{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for item in items%}
          <li>{{item.id}} {{item.name}}: {{item.status}}</li>
          <form action="/update-doing" method="post">
            <input type="submit" value="Mark as Doing">
            <input type="hidden" id="id" name="id" value="{{item.id}}"><br>
          </form> 
          <form action="/update-done" method="post">
            <input type="submit" value="Mark as Done">
            <input type="hidden" id="id" name="id" value="{{item.id}}"><br>
          </form> 
        {% endfor %}
      </ul>
    </div>
    <form action="/add" method="post">
      <label for="title">New Item:</label><br>
      <input type="text" id="title" name="title" required><br>
      <input type="submit" value="Submit">
  </form> 
  </div>
{% endblock %}